<div class="container">
    <h2>My Info</h2>

    <div ng-if="!infoCtrl.valid">
        <a ui-sref="public.signup">
            <span class="signupMsg">Not Signed Up Yet. Sign up Now!</span>
        </a>
    </div>

    <div ng-if="infoCtrl.valid">
        <h3>User Data</h3>
        <ul> <!-- TODO: Here we could do a key-value table and iterate over it with ng-repeat -->
            <li>
                First Name: {{ infoCtrl.name }}
            </li>
            <li>
                Last Name: {{ infoCtrl.lastName }}
            </li>
            <li>
                Email: {{ infoCtrl.email }}
            </li>
            <li>
                Phone: {{ infoCtrl.phone }}
            </li>
        </ul>

        <h3>Favourite Meal</h3>
        <div>
            <span>{{ infoCtrl.favMeal }}</span> <br>
            <img src="https://jens-angularjs-assignment-5.herokuapp.com//images/{{ infoCtrl.shortname }}.jpg" class="avator">
        </div>
    </div>

</div>